/*  -----------------------------------------------------------------------------

        7.  Botons
                
    -----------------------------------------------------------------------------  */

//  Botons personalitzats
.boto {
  .arrodonit(0);
  border: 0;
  padding: 1em 3em;
  color: #333;
  text-decoration: none;
  text-align: center;
  margin: 10px;

  font-size: 1.25rem;
  .bloc-en-linea();
}
.boto-gris {
  background-color: @gris;
  
  &:hover {
    background-color: @negre;
    -webkit-tap-highlight-color: @negre;
    color: @blanc;
  } // end hover
  &:active {
    background-color: @negre;
  } // end hover
}
.boto-taronja {
  background-color: @groc-fosc;
  
  &:hover {
    background-color: @negre;
    -webkit-tap-highlight-color: @negre;
    color: @blanc;
  } // end hover
  &:active {
    background-color: @negre;
  } // end hover
}
.boto-gran {
padding: 20px 40px;
}
.boto-mitja {
padding: 10px 20px;
}
.boto[disabled],
.boto.disabled {
  color: @gris-fort-fosc;
  background-color: @gris-fosc;
}

.boto-sense-estil {
  .font-size(13);
  color: #f30;
  text-decoration: underline;
  border: 0;
  background: transparent;
  height: auto;
  padding: 0;
  cursor: pointer;
  outline: 0;

  &:hover {
  text-decoration: none;
  } // end hover
}
.boto-sense-estil[disabled],
.boto-sense-estil.disabled {
  text-decoration: none;
  color: #999;
}